<%-include ("./layouts/header") %>
<section id="banner" class="container-fluid " >
    <div id="carouselExampleIndicators" class="carousel slide"  data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active"  data-bs-interval="5000">
            <img src="uploads/banner/Fastbanner.jpg" class="d-block w-100" alt="...">
           </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="uploads/banner/vernom.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</section>

<!--par 2-->

<section id="movie-list" class="container py-5">
 
  
  <div class="owl-carousel owl-theme">
    <% movies.forEach((movie)=>{ %>
      <div class="card" style="width:15rem;">
        <img src="<%=movie.poster%>" class="card-img-top rounded" style="height: 300;" alt="...">
        <div class="card-body">
          <h6 class="card-title"><%=movie.name%></h6>
          <p class="card-text"></p>
          <a href="movie/<%=movie.id%>" class="btn btn-success">mua ve ngay</a>
        </div>
    </div>
     <% }) %>
  </div>
  
</section>
<section id="special-offer">
  <h1>ƯU ĐÃI - KHUYẾN MẠI</h1>
  <p>Hệ thống rạp Venus Cinema luôn là cụm rạp với nhiều ưu đãi khuyến mại hàng đầu, đặc biệt khi bạn làm thẻ thành viên Venus</p>
  <p>Không áp dụng chồng các Khuyến Mại</p>
  <p>Lưu ý: Suất Chiếu Sớm, Suất Chiếu Đặc Biệt, Sneak Show - không áp dụng các KM, Ưu đãi đi kèm.</p>
  <div class="owl-carousel owl-theme">
  <%offers.forEach((offer)=>{%>
    <div class="card" style="width:25rem;">
      <img src="<%=offer.image%>" class="card-img-top rounded" style="height: 300;" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=offer.name%></h5>
        <p class="card-text"><%=offer.description%></p>
  
      </div>
  </div>
  <%})%>
  </div>

</section>

<%-include ("./layouts/footer") %>
<script src="/javascripts/client/homepage.js"></script>