<%- include ("../layouts/adminHeader") %>
<section class="p-4 my-container px-5">
    <button class="btn my-4" id="menu-btn">Toggle Sidebar</button> <br>
    
<a href="/api/admin/movie/movies"><button class="btn btn-primary">quay lại</button></a>
<form action="/api/admin/movie/editmovie/<%=id%> " method="POST" class="row" enctype="multipart/form-data">
    <div class="col-md-8"> 
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" required id="name" name="name" value=<%- JSON.stringify(name)%>>
    </div>
    <div class="col-md-6">
        <label for="startDate" class="form-label">Start date</label>
        <input type="date" class="form-control" required id="startDate" name="startDate" value=<%=startDate%>>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="time" class="form-label">Time</label>
            <input type="number" class="form-control" required id="time" name="time" value=<%=time%>>
        </div>
        <div class="col-md-4">
            <label for="evaluate" class="form-label">Evaluate</label>
            <input type="number" class="form-control" min="1" max="5" step="0.5" required id="evaluate" name="evaluate" value=<%=evaluate%>>
        </div>
    </div>
    
    <div class="col-md-7">
        <label for="poster" class="form-label">Poster</label>
        <input type="file" name="movie_poster" id="poster" >
        <h4>Old poster</h4>
        <img src="<%=old_poster%>" alt="" width="120" height="150"> 
    </div>
    <div class="col-md-6">
        <label for="Trailer" class="form-label">trailer</label>
        <input type="text" class="form-control" name="trailer" id="trailer" value="<%=trailer%>">
    </div>
    <div class="col-md-8">
        <label for="description" class="form-label">Description</label>
    <textarea name="description" class="form-control" id="description" cols="30" rows="8" ><%= JSON.stringify(description)%></textarea>
    </div>
    
    
    <div class="gy-4 ">
        <button class="btn btn-primary col-md-3">edit movie</button>
    </div>
    
</form>


</section>
<%- include ("../layouts/adminFooter") %>